$font-family:Consolas;
$TulipTree-Color:#E2B842;
$Tangoroa-Color:#012B39;
$Mineshaft-Color:#364043;
$SmaltBlue-Color:#4F5F64;
$White-Color:#fff;
$Black-Color:#000;
$SherpaBlue-Color:#014055;
$Red-Color:Red;
$FruitSalad-Color:#3e8e41;
$Gainsboro-Color:#dcdcdc;
$Dimgrey-Color:#707070;
$Nobel-Color:#969696;
$Gainsboro_Sh-Color:#ddd;
$Nobel_Sh-Color:#999;
$fullwidth:100%;
$fullheight:100%;
$height:40px;
$width:40px;
