@import "_variables.scss";
@import "_mixins.scss";


body {
    font-family: $font-family;
}

.tRexGrid {
    overflow-x: auto;
}

.tRexGrid::-webkit-scrollbar {
    margin-top: 5px;
    width: 12px;
    height: 15px;
}

.tRexGrid::-webkit-scrollbar-track {
    margin-top: 2px;
}

.tRexGrid::-webkit-scrollbar-thumb {
    background-color: rgb(226, 184, 66);
}

.tRexInner {
    position: absolute;
    padding: 4px;
    width: $width;
    background-color: $TulipTree-Color;
    top: 24px;
    margin-left: -40px;
    border-radius: 4px 0px 0px 4px;
}

.tRexInner, tfoot {
    height: $height;
}

table, tfoot {
    background-color: $Tangoroa-Color;
}

table {
    width: $fullwidth;
    border-radius: 0.25em;
    border-collapse: collapse;

    tbody tr {
        transition: background 0.25s ease;

        &:hover {
            background-color: $SherpaBlue-Color;
        }
    }

    td {
        color: $White-Color;
        font-weight: 400;
        padding: 0.55em 0.85em;
        font-size: 0.90em;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgba(153,153,153,0.2);
        min-width: 100px;
        white-space: nowrap;

        .disabled {
            color: $SmaltBlue-Color;
        }

        .error, .negation {
            color: $Red-Color;
        }

        .edinput {
            border-radius: 2px;
            color: $Black-Color;
            border: 1px solid $Gainsboro-Color;
            transition: box-shadow 0.3s, border 0.3s;

            &:focus {
                border: 1px solid $Dimgrey-Color;
                box-shadow: 0 0 5px 1px $Nobel-Color;
            }
        }
    }

    th {
        border-bottom: 1px solid $Mineshaft-Color;
        color: $TulipTree-Color;
        font-size: 0.95em;
        font-weight: 600;
        padding: 0.7em 1em;
        text-align: left;
        border-right: 1px solid rgba(153,153,153,0.2);
        white-space: nowrap;
    }

    tfoot {
        padding: 10px;
    }
}

#sorticon {
    padding: 6px;
    color: lighten($TulipTree-Color,30%);
    cursor: pointer;
    border-radius: 3px 3px 0px 0px;
    text-decoration: none;

    &:hover {
        background-color: $TulipTree-Color;
        color: White;
        @include scale(1.2);
    }
}

.dropdown {
    position: relative;
    display: inline-block;

    &:hover .dropdown-content {
        display: block;
    }

    &:hover .dropbtn {
        background-color: $FruitSalad-Color;
    }

    .dropdown-content {
        left: -2.5px;
        display: none;
        position: absolute;
        background-color: $TulipTree-Color;
        min-width: 130px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        border-radius: 0px 0px 5px 5px;

        a {
            color: White;
            padding: 8px 10px;
            text-decoration: none;
            display: block;

            &:hover #sorticon {
                background-color: $SherpaBlue-Color;
            }
        }
    }
}

.paginglink {
    width: 100%;
    margin-top: 0px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0em 1em 1em 1em;
    height: 35px;
    text-align: left;

    a {
        border-width: 0px 0.5px 0px 0.5px;
        border-style: solid;
        border-color: $Gainsboro_Sh-Color;
        padding: 4px;
        text-align: center;
        display: inline-block;
        height: 33px;
        width: 39.9px;
        color: $White-Color;
        background-color: #012B39;
        margin: 0;
        text-decoration: none;

        &:hover {
            border: 1px solid $Gainsboro_Sh-Color;
            background-color: $White-Color;
            color: $Tangoroa-Color;
        }

        &:active {
            border: 2px solid $TulipTree-Color;
            background-color: $TulipTree-Color;
            color: $White-Color;
        }
    }
}





#checkb {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
    margin-bottom: -5px;

    &:before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 10px;
        position: absolute;
        left: 0;
        bottom: 1px;
        background-color: $TulipTree-Color;
        /*box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);*/
        border-radius: 3px;
    }
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked + #checkb:before {
    content: '✔';
    font-size: 12px;
    color: $White-Color;
    text-align: center;
    line-height: 15px;
}

.maxl {
    margin: 25px;
}

.inline {
    display: table-cell;
}

.inline + .inline {
    margin-left: 10px;
}

.radio {
    color: $Nobel_Sh-Color;
    font-size: 15px;
    position: relative;

    input[type="radio"] {
        cursor: pointer;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        @include filter(0);
    }

    span {
        position: relative;
        padding-left: 20px;

        &:after {
            content: '';
            width: 15px;
            height: 15px;
            border: 3px solid;
            position: absolute;
            left: 0;
            top: 1px;
            border-radius: 100%;
            @include boxsizing(border-box);
        }
    }
}

.radio input[type="radio"]:checked + span {
    color: $TulipTree-Color;
}

.radio input[type="radio"]:checked + span:before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    background: $TulipTree-Color;
    left: 5px;
    top: 6px;
    border-radius: 100%;
}

.dynatable-processing {
    background: #000;
    opacity: 0.6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    span {
        background: #FFF;
        border: solid 2px #57A957;
        color: #333;
        padding: 25px;
        font-size: 2em;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.5);

        img {
            vertical-align: middle;
        }
    }
}
